{% extends 'base.html.twig' %}

{% block title %}Ajouter une voiture{% endblock %}

{% block header %} {{ parent() }} {% endblock header %}

{% block main %}

<section id="add">
    <a href="{{ path('app_main') }}">← Retour</a>
    <h1>Ajouter une voiture</h1>
    {{ form_start(form) }}
    <div class="input">
        {{ form_row(form.name) }}
    </div>
    <div class="input">
        {{ form_row(form.description) }}
    </div>
    <div class="flex-input">
        <div class="input">
            {{ form_row(form.monthlyPrice) }}
        </div>
        <div class="input">
            {{ form_row(form.dailyPrice) }}
        </div>
    </div>
    <div class="flex-input">
        <div class="input">
            {{ form_row(form.places) }}
        </div>
        <div class="input">
            {{ form_row(form.motor) }}
        </div>
    </div>
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
</section>
{% endblock main %}
{% block footer %} {{ parent() }} {% endblock %}